@import "../../base.scss";


.sidebar{
    background-color: $black-secondary;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 90vh;
    position: sticky;
    top: 10vh;
    left: 0;
    // position: fixed;
    // z-index: 999;
    // margin-top: 2.5rem;
    padding-top: 2rem;
    transition: transfrom 0.2s ease-in;

    li{
        align-items: center;
        display: flex;
        padding: 0.6rem 1.5rem;
        margin: 0.2rem 0;
        cursor: pointer;
        list-style: none;


        span{
            margin-left: 1rem;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px;
        }

        &:hover{
            background-color: $border-color;
        }

        
    }

    hr{
        background-color: $border-color;
    }
    &.open{
        transform: translateX(0);
    }
}


@media(max-width:$breakpoint-medium){
    .sidebar{
        // height: 120vh;
        width: 90px;
        // position: fixed;
        // z-index: 999;
        // padding-top: 2rem;
        // margin-top: 3.8rem;
    }

        li{
            justify-content: center;
        }

        span{
            display: none;
            
        }
   
       
    
}

        
    

@media(max-width:$breakpoint-small){
    .sidebar{
        // width: 90px;
       
     transform:translateX(-100%);
       position: fixed;
       z-index: 999;
       

       
      
      

    }
}





// @media(min-width:$breakpoint-medium){
//     .sidebar{
//         padding-top: 4rem;
        
//         position: fixed;
//         width:200px;
//         height: 180vh;
//         z-index: 100;

//        margin-top: 3.8rem;
       


       

//     }
// }